/*----------------------------------------*/
/* ========== 07. blog page ============= */
/*----------------------------------------*/
.s-box {
    background: #fff;
    border: 1px solid rgba(125, 125, 125, 0.25);
    padding: 20px; }
.s-box-header {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px; }
.s-box-header span {
    color: #10cea1;
    font-weight: normal; }

.blog-search {
    position: relative; }
.blog-search .form-control {
    width: 100% !important;
    height: calc(2.25rem + 2px);
    padding: 0.575rem 3rem .5rem 1.5rem;
    color: #999;
    font-size: 14px;
    margin: 0;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    background: none; }
.blog-search .form-control:hover, .blog-search .form-control:focus {
    border: 1px solid #999;
    transition: .3s; }
.blog-search .form-control::placeholder {
    color: #bfbfbf; }
.blog-search button {
    position: absolute;
    right: 10px;
    border: none;
    color: #e1e1e1;
    transition: .5s; }
.blog-search button:hover {
    color: #10cea1;
    transition: .5s; }
.blog-search .btn {
    background: none; }

.popular-cat .list-group-item {
    border: 1px solid #eaeaea !important; }
.popular-cat .list-group-item a {
    color: #666;
    transition: .5s;
    display: block;
    text-transform: capitalize; }
.popular-cat .list-group-item a:hover {
    color: #10cea1;
    transition: .3s;
    transform: translateX(3px); }
.popular-cat .list-group-item .badge-primary {
    background: #10cea1; }

.pop-sing-card .media img {
    max-width: 110px;
    height: auto; }

.pop-sing-card .media span a {
    font-size: 16px;
    color: #10cea1;
    line-height: 1;
    text-transform: capitalize;
    font-weight: bold;
    transition: .3s; }
.pop-sing-card .media span a:hover {
    color: #ff214f;
    transition: .3s; }

.pop-sing-card .media .pop-date {
    color: #999;
    margin-top: 5px;
    font-size: 12px; }

.pop-sing-card .media .pop-price {
    font-weight: 600;
    color: #666; }

.blog-social ul li {
    margin-right: 10px; }
.blog-social ul li a {
    width: 45px !important;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #10cea1;
    transition: .5s;
    border-radius: 5px; }
.blog-social ul li a i {
    line-height: 40px;
    color: #fff;
    font-size: 18px; }
.blog-social ul li a:hover {
    background: #ff214f !important;
    transition: .3s; }
.blog-social ul li:last-child {
    margin-right: 0; }

.blog-tags ul li {
    margin-right: 5px;
    margin-bottom: 5px; }
.blog-tags ul li a {
    padding: 5px 10px;
    background: #fff;
    text-transform: capitalize;
    color: #999;
    border: 1px solid rgba(125, 125, 125, 0.15);
    display: inline-block;
    font-size: 12px;
    transition: .5s; }
.blog-tags ul li a:hover {
    color: #fff;
    transition: .3s;
    background: #ff214f; }

.single-review img {
    width: 45px;
    height: auto;
    border-radius: 5px; }

.single-review-title a {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: #333; }

.single-review .rating ul li i {
    color: #ffcf10; }

.single-review p {
    font-size: 12px;
    color: #999; }

 .bg-custom-gray {
     background-color: #ececec;
 }

.bg-blue {
    background-color: #007bff;
}

.bg-indigo {
    background-color: #6610f2;
}

.bg-purple {
    background-color: #6f42c1;
}

.bg-pink {
    background-color: #e83e8c;
}

.bg-teal {
    background-color: #20c997;
}

.address-card {
    position: relative;
}
.default-badge {
    position: absolute;
    background: #20c997;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .1);
    padding: 5px 7px;
    bottom: 15px;
    right: 0;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 10px;
    color: #fff;
}

.nav-tabs-custom {
    background: #eaeaea;
}

.profile-head {
    background: #fff;
    padding: 15px 15px;
    border: 1px solid #ddd;
}

.custom-border {

    border-top: 5px solid #e9e9e9;
}

.common-nav .nav .nav-item .nav-link  {
    color: #999;
}

.common-nav .nav .nav-item .nav-link.active {
    color: #333;
}

.agent-info .agent-title {
    font-size: 28px;
    font-weight: bold;
    color: #ff214f;
    line-height: 1;
    text-transform: uppercase;
}
.agent-info .designation {
    font-size: 18px;
    color: #999;
    display: block;
    margin-top: 5px;
    text-transform: capitalize;
}
.agent-info .personal-info {
    font-family: "Poppins", sans-serif;
}
.agent-info .personal-info ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #333 !important;
}
.agent-info .personal-info ul li span {
    width: 40%;
    text-align: left !important;
    display: inline-block;
    text-transform: capitalize;
}
.agent-info .personal-info ul li span i {
    margin-right: 5px;
    color: #ff214f;
}
.agent-info .single-share ul li:first-child {
    font-size: 18px;
    margin-right: 10px;
}

.single-comment-amount, .single-blog-title {
    font-size: 22px;
    font-weight: 500; }

.single-comment .media img {
    width: 55px;
    height: auto;
    border-radius: 5px; }

.single-comment .media .media-body .comment-title {
    font-size: 20px;
    display: block;
    line-height: 1; }

.single-comment .media .media-body .reply {
    color: #10cea1;
    transition: .7s;
    font-size: 12px; }
.single-comment .media .media-body .reply i {
    transition: .7s;
    color: #10cea1;
    font-size: 10px; }
.single-comment .media .media-body .reply:hover {
    color: #ff214f;
    transition: .3s; }
.single-comment .media .media-body .reply:hover i {
    color: #ff214f;
    transition: .3s; }

.comment-form .form-control {
    font-size: 14px;
    color: #666 !important;
    border: 1px solid #dfdfdf; }

